<div class="grid ml-1 mr-1">
    <p-button class="col-6 flex-order-0 md:flex-order-0 md:col-2"
        *ngIf="loggedUser && !loggedUser.isStreamer && pageUser?.name == loggedUser.name; else notStreamer"
        label="I'm a streamer" (onClick)="onUserIsStreamer()"></p-button>
    <h1 class="col-12 flex-order-2 md:flex-order-1 md:col-6 text-center" [ngClass]="loggedUser && loggedUser.name == pageUser?.name ? 'md:col-offset-1' : 
        'md:col-offset-3'">
        <a [routerLink]="['/home']" style="color: inherit; text-decoration: inherit;">
            {{ title }}
        </a>
    </h1>
    <p-button class="col-3 flex-order-1 md:flex-order-2 md:col-1 md:col-offset-2" [ngClass]="loggedUser && loggedUser.name == pageUser?.name ? 'col-offset-3' : 
        'col-offset-9'" *ngIf="loggedUser; else loginButton" label="Logout" (onClick)="logout()"></p-button>
    <ng-template #loginButton>
        <p-button class="col-3 col-offset-9 flex-order-1 md:flex-order-2 md:col-1 md:col-offset-2" label="Login"
            (onClick)="login()"></p-button>
    </ng-template>
    <ng-template #notStreamer>
        <p-button class="col-6 flex-order-0 md:flex-order-0 md:col-2"
            *ngIf="loggedUser && loggedUser.name == pageUser?.name" styleClass="p-button-danger"
            label="I'm not a streamer" (onClick)="onUserIsNOTStreamer()"></p-button>
    </ng-template>
</div>


<p-dataView #dv [value]="cards" [layout]="layout" *ngIf="!loading; else loadingMessage">
    <ng-template let-card pTemplate="gridItem">
        <app-card-grid-item [card]="card" [userImg]="pageUser?.image ?? ''" (imageClick)="showModal($event)"
            [isLoggedUser]="pageUser?.name == loggedUser?.name" [isUserStreamer]="!!pageUser?.isStreamer"
            [streamerView]="!!loggedUser && loggedUser.isStreamer && pageUser?.name == loggedUser.name"
            (changedRate)="onChangedRate($event)" (recordChat)="onRecordChat($event)"
            (stopRecording)="onStopRecording($event)"></app-card-grid-item>
    </ng-template>
</p-dataView>


<ng-template #loadingMessage>
    <p>Loading the cards...</p>
</ng-template>

<div *ngIf="shouldShowModal && modalCard">
    <app-card-view-modal [(shouldShowModal)]="shouldShowModal" [card]="modalCard" (changedCard)="changeCard($event)"
        [userImg]="pageUser?.image ?? ''" [isLoggedUser]="pageUser?.name == loggedUser?.name"
        [isUserStreamer]="!!pageUser?.isStreamer"
        [streamerView]="!!loggedUser && loggedUser.isStreamer && pageUser?.name == loggedUser.name"
        (changedRate)="onChangedRate($event)" (recordChat)="onRecordChat($event)"
        (stopRecording)="onStopRecording($event)"></app-card-view-modal>
</div>