<ng-container *ngIf="{activeExpansion: activeExpansion | async} as context">
  <div class="grid ml-1 mr-1">
    <h1
      class="col-12 flex-order-0 md:flex-order-0 md:col-8 md:col-offset-2 text-center"
    >
      <a
        [href]="'https://www.twitch.tv/' + pageUser?.name"
        target="_blank"
        style="color: #6441a5; text-decoration: inherit"
      >
        {{ pageUser?.name | possessive }}
      </a>
      {{ context.activeExpansion }} Card Review
    </h1>
    <ng-container
      *ngIf="isInPreExpansionSeason && context.activeExpansion == CURRENT_EXPANSION; else notPreExpansionSeason"
    >
      <p-button
        *ngIf="loggedUser && !loggedUser.isStreamer && pageUser?.name == loggedUser.name; else hideChatRatings"
        class="col-6 col-offset-6 flex-order-1 md:flex-order-1 md:col-2 md:col-offset-0 mt-4"
        data-testid="record-chat-ratings-button"
        label="Record chat ratings"
        (onClick)="onShowChatRatings()"
      ></p-button>
    </ng-container>
    <ng-template #notPreExpansionSeason>
      <b
        class="col-6 flex-order-0 md:flex-order-0 md:col-2 mt-4"
        data-testid="not-pre-expansion-message"
      >
        This expansion has been released. Users can no longer change their
        ratings.
      </b>
    </ng-template>
    <ng-template #hideChatRatings>
      <p-button
        *ngIf="loggedUser && loggedUser.name == pageUser?.name"
        class="col-6 flex-order-0 md:flex-order-0 md:col-2 mt-4"
        styleClass="p-button-danger"
        data-testid="hide-chat-ratings-button"
        label="Hide chat ratings"
        (onClick)="onHideChatRatings()"
      ></p-button>
    </ng-template>
  </div>

  <div
    class="flex gap-3 md:gap-0 flex-column md:flex-row justify-content-between mr-8"
  >
    <ng-container *ngIf="compareReviewOptions | async as users">
      <form
        [formGroup]="compareReviewsForm"
        class="flex align-items-center ml-2 md:ml-7 gap-2"
      >
        <label for="CompareReviews">Compare reviews:</label>
        <p-autoComplete
          id="CompareReviews"
          [suggestions]="suggestions"
          [showClear]="true"
          placeholder="Find a Reviewer"
          [multiple]="true"
          formControlName="reviewers"
          (completeMethod)="searchUser($event, users)"
        ></p-autoComplete>
      </form>
    </ng-container>
    <div
      *ngIf="context.activeExpansion == CURRENT_EXPANSION && loggedUser && !loggedUser.isStreamer && pageUser?.name == loggedUser.name"
    >
      <p-button
        (click)="shouldShowShareModal = true"
        label="Generate summary image"
      ></p-button>
    </div>
  </div>

  <ng-container
    *ngIf="{reviewers: (reviewersToCompare$ | async) || []} as reviewersContext"
  >
    <p-accordion [multiple]="true">
      <p-accordionTab [header]="pageUser?.name">
        <p-accordion>
          <p-accordionTab header="Average by Class">
            <app-avg-rating-table
              [cards]="cards"
              field="rating"
            ></app-avg-rating-table>
          </p-accordionTab>
          <p-accordionTab header="Ratings Distribution">
            <app-votes-per-rating-chart
              [cards]="cards"
              field="rating"
            ></app-votes-per-rating-chart>
          </p-accordionTab>
          <p-accordionTab header="Ratings Distribution by Class">
            <app-votes-per-rating-chart
              [cards]="cards"
              field="rating"
              [showClasses]="true"
            ></app-votes-per-rating-chart>
          </p-accordionTab>
        </p-accordion>
      </p-accordionTab>

      <p-accordionTab
        *ngFor="let reviewToCompare of reviewersContext.reviewers"
        [header]="reviewToCompare.user.name"
      >
        <p-accordion>
          <p-accordionTab header="Average by Class">
            <app-avg-rating-table
              [cards]="reviewToCompare.cards"
              field="rating"
            ></app-avg-rating-table>
          </p-accordionTab>
          <p-accordionTab header="Ratings Distribution">
            <app-votes-per-rating-chart
              [cards]="reviewToCompare.cards"
              field="rating"
            ></app-votes-per-rating-chart>
          </p-accordionTab>
          <p-accordionTab header="Ratings Distribution by Class">
            <app-votes-per-rating-chart
              [cards]="reviewToCompare.cards"
              field="rating"
              [showClasses]="true"
            ></app-votes-per-rating-chart>
          </p-accordionTab>
        </p-accordion>
      </p-accordionTab>
      <p-accordionTab
        *ngIf="reviewersContext.reviewers.length > 0"
        header="All"
      >
        <p-accordion>
          <p-accordionTab header="Average by Class">
            <app-avg-rating-table
              [cards]="cards | combineCards:reviewersContext.reviewers"
              field="rating"
            ></app-avg-rating-table>
          </p-accordionTab>
          <p-accordionTab header="Ratings Distribution">
            <app-votes-per-rating-chart
              [cards]="cards | combineCards:reviewersContext.reviewers"
              field="rating"
            ></app-votes-per-rating-chart>
          </p-accordionTab>
          <p-accordionTab header="Ratings Distribution by Class">
            <app-votes-per-rating-chart
              [cards]="cards | combineCards:reviewersContext.reviewers"
              field="rating"
              [showClasses]="true"
            ></app-votes-per-rating-chart>
          </p-accordionTab>
        </p-accordion>
      </p-accordionTab>

      <p-accordionTab *ngIf="cards[0]?.hsr_rating" header="Final Rating">
        <p-accordion>
          <p-accordionTab header="Final Average by Class">
            <app-avg-rating-table
              [cards]="cards"
              field="hsr_rating"
            ></app-avg-rating-table>
          </p-accordionTab>
          <p-accordionTab header="Final Ratings Distribution">
            <app-votes-per-rating-chart
              [cards]="cards"
              field="hsr_rating"
            ></app-votes-per-rating-chart>
          </p-accordionTab>
          <p-accordionTab header="Final Ratings Distribution by Class">
            <app-votes-per-rating-chart
              [cards]="cards"
              field="hsr_rating"
              [showClasses]="true"
            ></app-votes-per-rating-chart>
          </p-accordionTab>
        </p-accordion>
      </p-accordionTab>
    </p-accordion>
    <p-dataView #dv [value]="cards" [layout]="layout">
      <ng-template let-card pTemplate="gridItem">
        <!-- make not show modal on mobile -->
        <app-card-grid-item
          class="hidden md:block"
          [showSkeleton]="!!(loadingCards$ | async)"
          [card]="card"
          [userImg]="pageUser?.image ?? ''"
          [isLoggedUser]="pageUser?.name == loggedUser?.name"
          [isUserStreamer]="!!pageUser?.isStreamer"
          [streamerView]="!!loggedUser && loggedUser.isStreamer && pageUser?.name == loggedUser.name"
          [isInPreExpansionSeason]="isInPreExpansionSeason && context.activeExpansion == CURRENT_EXPANSION"
          [reviewersToCompare]="reviewersContext.reviewers"
          (imageClick)="showModal($event)"
          (changedRate)="onChangedRate($event)"
          (recordChat)="onRecordChat($event)"
          (stopRecording)="onStopRecording($event)"
        ></app-card-grid-item>
        <app-card-grid-item
          class="block md:hidden"
          [showSkeleton]="!!(loadingCards$ | async)"
          [card]="card"
          [userImg]="pageUser?.image ?? ''"
          [isLoggedUser]="pageUser?.name == loggedUser?.name"
          [isUserStreamer]="!!pageUser?.isStreamer"
          [streamerView]="!!loggedUser && loggedUser.isStreamer && pageUser?.name == loggedUser.name"
          [isInPreExpansionSeason]="isInPreExpansionSeason && context.activeExpansion == CURRENT_EXPANSION"
          [reviewersToCompare]="reviewersContext.reviewers"
          (changedRate)="onChangedRate($event)"
          (recordChat)="onRecordChat($event)"
          (stopRecording)="onStopRecording($event)"
        ></app-card-grid-item>
      </ng-template>
    </p-dataView>

    <div *ngIf="shouldShowModal && modalCard">
      <app-card-view-modal
        [card]="modalCard"
        [(shouldShowModal)]="shouldShowModal"
        [userImg]="pageUser?.image ?? ''"
        [isLoggedUser]="pageUser?.name == loggedUser?.name"
        [isUserStreamer]="!!pageUser?.isStreamer"
        [streamerView]="!!loggedUser && loggedUser.isStreamer && pageUser?.name == loggedUser.name"
        [isInPreExpansionSeason]="isInPreExpansionSeason && context.activeExpansion == CURRENT_EXPANSION"
        [reviewersToCompare]="reviewersContext.reviewers"
        (changedCard)="changeCard($event)"
        (changedRate)="onChangedRate($event)"
        (recordChat)="onRecordChat($event)"
        (stopRecording)="onStopRecording($event)"
      >
      </app-card-view-modal>
    </div>
    <app-share-summary-modal
      *ngIf="loggedUser"
      [(shouldShowModal)]="shouldShowShareModal"
      [cards]="cards"
      [username]="loggedUser.name"
    ></app-share-summary-modal>
  </ng-container>
</ng-container>
