<div class="flex  mr-8">
    <p-button *ngIf="loggedUser && !loggedUser.isStreamer && pageUser?.name == loggedUser.name; else notStreamer"
        class="mr-auto" label="I'm a streamer" (onClick)="onUserIsStreamer()"></p-button>
    <p-button *ngIf="loggedUser; else loginButton" class="ml-auto" label="Logout"
        (onClick)="onUserIsStreamer()"></p-button>
    <ng-template #loginButton>
        <p-button class="ml-auto" label="Login" (onClick)="login()"></p-button>
    </ng-template>
    <ng-template #notStreamer>
        <p-button *ngIf="loggedUser" class="mr-auto " styleClass="p-button-danger" label="I'm not a streamer"
            (onClick)="onUserIsNOTStreamer()"></p-button>
    </ng-template>
</div>
<p-dataView #dv [value]="cards" [layout]="layout">
    <!-- <ng-template pTemplate="header">
        <div class="flex justify-content-end">
             <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
    </ng-template> -->
    <!-- <ng-template let-product pTemplate="listItem">
        <div class="col-12">
            <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image" [alt]="product.name" />
                <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                    <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                        <div class="text-2xl font-bold text-900">{{ product.name }}</div>
                        <div class="flex align-items-center gap-3">
                            <span class="flex align-items-center gap-2">
                                <i class="pi pi-tag"></i>
                                <span class="font-semibold">{{ product.category }}</span>
                            </span>
                        </div>
                    </div>
                    <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                        <span class="text-2xl font-semibold">{{ '$' + product.price }}</span>
                        <button pButton icon="pi pi-shopping-cart" class="md:align-self-end mb-2 p-button-rounded" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template> -->
    <ng-template let-card pTemplate="gridItem">
        <app-card-grid-item [card]="card" [userImg]="pageUser?.image ?? ''" (imageClick)="showModal($event)"
            [isLoggedUser]="pageUser?.name == loggedUser?.name" [isUserStreamer]="!!pageUser?.isStreamer"
            [streamerView]="!!loggedUser && loggedUser.isStreamer && pageUser?.name == loggedUser.name"
            (changedRate)="onChangedRate($event)" (recordChat)="onRecordChat($event)"
            (stopRecording)="onStopRecording($event)"></app-card-grid-item>
    </ng-template>
</p-dataView>
<div *ngIf="shouldShowModal && modalCard">
    <app-card-view-modal [(shouldShowModal)]="shouldShowModal" [card]="modalCard" (changedCard)="changeCard($event)"
        [isLoggedUser]="pageUser?.name == loggedUser?.name" [isUserStreamer]="!!pageUser?.isStreamer"
        [streamerView]="!!loggedUser && loggedUser.isStreamer && pageUser?.name == loggedUser.name"
        (changedRate)="onChangedRate($event)"></app-card-view-modal>
</div>