.App {
  text-align: center;
}

input {
  font-size: 1.5rem;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

button {
  font-size: 1.5rem;
}

.cardListContainer {
  display: flex;
  width: 50%;
  margin: auto;
}

h4 {
  margin: 0;
  font-size: 1.2rem;
}

.leftColumn {
  width: 66%;
}

.cardNameInput {
  margin-bottom: 20px;
}