/* You can add global styles to this file, and also import other style files */
body {
    font-family: var(--font-family);
    // margin-left: 0;
}

.avatar {
    height: 1.5rem !important;
    width: 1.5rem !important;
}