<div
  class="col-12 sm:col-6 lg:col-12 xl:col-4 p-2"
  [style]="{ width: '360px' }"
>
  <div class="p-4 border-1 surface-border surface-card border-round" style="height: 557px;">
    <div
      class="flex flex-wrap align-items-center justify-content-between gap-2"
    >
      <p-skeleton height="1rem" width="100px" ></p-skeleton>
      <p-skeleton height="1rem" width="100px" ></p-skeleton>
    </div>
      <div class="flex flex-column align-items-center gap-1 mt-4">
        <p-skeleton height="270px" width="180px"></p-skeleton> <!-- image -->
        <p-skeleton height="1rem" width="180px" class="mt-5"></p-skeleton> <!-- name -->
        <p-skeleton height="1rem" width="300px" class="mt-2"></p-skeleton> <!-- description -->
        <p-skeleton height="1rem" width="300px"  class="mt-1"></p-skeleton> <!-- description -->
        <div class="flex mt-4">
            <p-skeleton shape="circle" size="2rem" class="mr-2"></p-skeleton> <!-- avatar -->
            <p-skeleton height="1rem" width="150px" class="mt-2"></p-skeleton> <!-- rating -->
        </div>
      </div>
    <div class="flex align-items-center justify-content-between"></div>
  </div>
</div>
