<article class="w-10 md:w-8 xl:w-6 m-auto text-justify">
  <h2>About the Rating System</h2>

  <h3>Why Standardization Matters?</h3>
  <p>
    In the dynamic realm of online reviews, consistency is key. Whether it's a
    movie rating, a restaurant review, or in our case, a Hearthstone card
    evaluation, standardization plays a crucial role in providing clarity and
    insight to users.
  </p>
  <p>
    In the past, when we were scrolling through a list of card reviews,
    each rated on a different scale - one out of 5, another out of 4, another
    using halves (.5) ratings, and yet another with category labels. The lack
    of standardization leads to confusion and make it hard to compare and
    interpret ratings effectively.
  </p>

  <h3>Why 1-4 scale?</h3>
  <p>
    After talking with streamers and pro players, we decided to use a 1-4 scale
    for 2 primary reasons. Firstly, this scale was already widely adopted by
    a significant portion of the community. Secondly, unlike other scales, it
    lacks a "neutral" rating, compelling players to form an opinion about each
    card.
  </p>

  <h3>Explaining 1-4 ratings</h3>
  <p>In general, these the explanations about the ratings:</p>
  <ul>
    <li class="mb-2">
      <b>1 - Bad Cards</b>. Cards that won't see competitive play. Fillers.
      Cards that you are not putting in your deck. <br />
      Examples: Elven Archer, Hench-Clan Thug, Defender of Argus, Ragnaros
    </li>
    <li class="mb-2">
      <b>2 - Fringe Cards</b>. Cards that will see fringe competitive play.
      Support cards. Cards that you will eventually put in your deck for some
      reason but won't be happy about it. <br />
      Examples: Glacial Shard, Bloodmage Thalnos, Rustrot Viper, Zola the Gorgon
    </li>
    <li class="mb-2">
      <b>3 - Good Cards</b>. Cards that will see competitive play. Key support
      cards, Good standalone cards. Cards that you will put in decks and be happy about it. <br />
      Examples: Hi Ho Silverwing, excavate cards in good excavate classes (dk,
      rogue), Trolley Problem, Kingpin Pud
    </li>
    <li class="mb-2">
      <b>4 - Very Strong Cards</b>. Cards that define the meta. Best cards.
      Cards that are the reason to play a certain good deck, or that will be
      "played in every deck". <br />
      Examples: Aftershocks, "Reno, Lone Ranger", "Reska, the Pit Boss", Miracle
      Salesman
    </li>
  </ul>
  <p>
    But we should also take into account the viability of the deck that the card
    will be played, for example, a really good card that won't see competitive
    play because there is no support for it (yet) will be considered a bad card.
  </p>
</article>
