<div class="flex mr-8 ml-8">
    <p-button *ngIf="loggedUser && !loggedUser.isStreamer && pageUser?.name == loggedUser.name; else notStreamer"
        label="I'm a streamer" (onClick)="onUserIsStreamer()"></p-button>
    <h1 class="ml-auto mr-auto">
        <a [routerLink]="['/home']" style="color: inherit; text-decoration: inherit;">
            {{ title }}
        </a>
    </h1>
    <p-button *ngIf="loggedUser; else loginButton" label="Logout" (onClick)="logout()"></p-button>
    <ng-template #loginButton>
        <p-button label="Login" (onClick)="login()"></p-button>
    </ng-template>
    <ng-template #notStreamer>
        <p-button *ngIf="loggedUser && loggedUser.name == pageUser?.name" styleClass="p-button-danger"
            label="I'm not a streamer" (onClick)="onUserIsNOTStreamer()"></p-button>
    </ng-template>
</div>
<p-dataView #dv [value]="cards" [layout]="layout">
    <ng-template let-card pTemplate="gridItem">
        <app-card-grid-item [card]="card" [userImg]="pageUser?.image ?? ''" (imageClick)="showModal($event)"
            [isLoggedUser]="pageUser?.name == loggedUser?.name" [isUserStreamer]="!!pageUser?.isStreamer"
            [streamerView]="!!loggedUser && loggedUser.isStreamer && pageUser?.name == loggedUser.name"
            (changedRate)="onChangedRate($event)" (recordChat)="onRecordChat($event)"
            (stopRecording)="onStopRecording($event)"></app-card-grid-item>
    </ng-template>
</p-dataView>
<div *ngIf="shouldShowModal && modalCard">
    <app-card-view-modal [(shouldShowModal)]="shouldShowModal" [card]="modalCard" (changedCard)="changeCard($event)"
        [userImg]="pageUser?.image ?? ''" [isLoggedUser]="pageUser?.name == loggedUser?.name"
        [isUserStreamer]="!!pageUser?.isStreamer"
        [streamerView]="!!loggedUser && loggedUser.isStreamer && pageUser?.name == loggedUser.name"
        (changedRate)="onChangedRate($event)"></app-card-view-modal>
</div>