<div
  *ngIf="{loadingCards: loadingCards | async, loadingAvgRatingByClass: loadingAvgRatingByClass | async} as context"
  class="grid md:ml-1 md:mr-1 mb-4"
>
  <div class="col-12 lg:col-10 lg:col-offset-1 flex-order-0 mb-4">
    <div class="col-12 flex justify-content-end" style="height: 37px">
      <a
        *ngIf="ratingsByClass[0]?.avg_hsr_rating"
        href="https://hsreplay.net/cards/"
        target="_blank"
      >
        Powered by HSReplay
      </a>
    </div>
    <p-table [value]="ratingsByClass">
      <ng-template pTemplate="caption"> Best Classes </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="hsClass">
            Class <p-sortIcon field="hsClass"></p-sortIcon>
          </th>
          <th
            *ngIf="ratingsByClass[0]?.avg_hsr_rating"
            pSortableColumn="avg_hsr_rating"
            style="width: 16.6%"
            pTooltip="Average Class Rating calculated using HSReplay data from the the first patch after expansion"
            tooltipPosition="top"
          >
            Final Avg. <p-sortIcon field="hsr_rating"></p-sortIcon>
          </th>
          <th
            pSortableColumn="avgRating"
            pTooltip="Average Users Rating"
            tooltipPosition="top"
          >
            Avg. <p-sortIcon field="avgRating"></p-sortIcon>
          </th>
          <th
            pSortableColumn="numRatings"
            pTooltip="Number Users that rated the card"
            tooltipPosition="top"
          >
            Ratings <p-sortIcon field="numRatings"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-class>
        <ng-container
          *ngTemplateOutlet="context.loadingAvgRatingByClass ? skeletonTableRow : bestClassesRow; context: {columns:3}"
        ></ng-container>
        <ng-template #bestClassesRow>
          <tr [ngClass]="class.hsClass">
            <td>{{class.hsClass}}</td>
            <td *ngIf="class?.avg_hsr_rating">
              {{ class.avg_hsr_rating | number: '1.0-1' }}
            </td>
            <td>{{class.avgRating | number: '1.0-2' }}</td>
            <td>{{class.numRatings}}</td>
          </tr>
        </ng-template>
      </ng-template>
    </p-table>
    <div class="card mt-5">
      <p-accordion>
        <p-accordionTab header="Ratings Distribution">
          <app-votes-per-rating-chart
            [cards]="hotCards"
          ></app-votes-per-rating-chart>
        </p-accordionTab>
        <p-accordionTab
          header="Final Ratings Distribution"
          *ngIf="ratingsByClass[0]?.avg_hsr_rating"
        >
          <app-votes-per-rating-chart
            [cards]="hotCards"
            field="hsr_rating"
          ></app-votes-per-rating-chart>
        </p-accordionTab>
        <p-accordionTab header="Ratings Distribution by Class">
          <app-votes-per-rating-chart
            [cards]="hotCards"
            [showClasses]="true"
          ></app-votes-per-rating-chart>
        </p-accordionTab>
        <p-accordionTab
          header="Final Ratings Distribution by Class"
          *ngIf="ratingsByClass[0]?.avg_hsr_rating"
        >
          <app-votes-per-rating-chart
            [cards]="hotCards"
            [showClasses]="true"
            field="hsr_rating"
          ></app-votes-per-rating-chart>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
  <div class="col-12 lg:col-10 lg:col-offset-1 flex-order-1">
    <p-table [value]="filteredHotCards" [rows]="10" [paginator]="true">
      <ng-template pTemplate="caption">
        <div class="allCardsHeader">
          All Cards
          <input
            placeholder="Find a Card"
            [style]="{ width: '80%' }"
            (input)="filterHotCards($event)"
            class="searchInput"
          />
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="hsClass" style="width: 16.6%">
            Class <p-sortIcon field="hsClass"></p-sortIcon>
          </th>
          <th pSortableColumn="name" style="width: 35%">
            Name <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th
            *ngIf="filteredHotCards[0]?.hsr_rating"
            pSortableColumn="hsr_rating"
            style="width: 16.6%"
            pTooltip="Rating calculated using HSReplay data from the the first patch after expansion"
            tooltipPosition="top"
          >
            Final Rating <p-sortIcon field="hsr_rating"></p-sortIcon>
          </th>
          <th
            pSortableColumn="avgRating"
            style="width: 16.6%"
            pTooltip="Average of Users Ratings"
            tooltipPosition="top"
          >
            Avg. <p-sortIcon field="avgRating"></p-sortIcon>
          </th>
          <th
            pSortableColumn="standardDeviation"
            style="width: 16.6%"
            pTooltip="Standard Deviation of Users Ratings"
            tooltipPosition="top"
          >
            SD <p-sortIcon field="standardDeviation"></p-sortIcon>
          </th>
          <th
            pSortableColumn="ratings.length"
            style="width: 10%"
            pTooltip="Number Users that rated the card"
            tooltipPosition="top"
          >
            Ratings <p-sortIcon field="ratings.length"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-card>
        <ng-container
          *ngTemplateOutlet="context.loadingCards ? skeletonTableRow : allCardsRow; context: {columns:5}"
        ></ng-container>
        <ng-template #allCardsRow>
          <tr
            [ngClass]="card.hsClass"
            pTooltip="<img src='{{card.imageURL}}' style='width: 180px'/>"
            [escape]="false"
            tooltipPosition="right"
          >
            <td>{{card.hsClass}}</td>
            <td>{{card.name}}</td>
            <td *ngIf="filteredHotCards[0]?.hsr_rating">
              {{ card.hsr_rating }}
            </td>
            <td>{{card.avgRating | number: '1.0-2' }}</td>
            <td>± {{(card.standardDeviation | number: '1.0-2') || 0 }}</td>
            <td>{{card.ratings.length}}</td>
          </tr>
        </ng-template>
      </ng-template>
    </p-table>
  </div>
</div>
<div class="banner">
  <h2>Ratings by Class</h2>
</div>
<div class="grid md:ml-1 md:mr-1">
  <div class="col-12 lg:col-6" *ngFor="let class of cardsByClass | keyvalue">
    <p-table
      [value]="class.value"
      [rows]="10"
      [paginator]="class.key == 'Neutral'"
    >
      <ng-template pTemplate="caption">{{ class.key }} </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">
            Name <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th
            *ngIf="class.value[0]?.hsr_rating"
            pSortableColumn="hsr_rating"
            style="width: 16.6%"
            pTooltip="Rating calculated using HSReplay data from the the first patch after expansion"
            tooltipPosition="top"
          >
            Final Rating <p-sortIcon field="hsr_rating"></p-sortIcon>
          </th>
          <th
            pSortableColumn="avgRating"
            pTooltip="Average of Users Ratings"
            tooltipPosition="top"
          >
            Avg. <p-sortIcon field="avgRating"></p-sortIcon>
          </th>
          <th
            pSortableColumn="standardDeviation"
            pTooltip="Standard Deviation of Users Ratings"
            tooltipPosition="top"
          >
            SD <p-sortIcon field="standardDeviation"></p-sortIcon>
          </th>
          <th
            *ngIf="!class.value[0]?.hsr_rating"
            pTooltip="Number Users that rated the card"
            tooltipPosition="top"
            pSortableColumn="ratings.length"
          >
            Ratings <p-sortIcon field="ratings.length"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-card>
        <tr
          [ngClass]="card.hsClass"
          pTooltip="<img src='{{card.imageURL}}' style='width: 180px'/>"
          [escape]="false"
          tooltipPosition="right"
        >
          <td>{{card.name}}</td>
          <td *ngIf="class.value[0]?.hsr_rating">{{ card.hsr_rating }}</td>
          <td>{{card.avgRating | number: '1.0-2' }}</td>
          <td>± {{(card.standardDeviation | number: '1.0-2') || 0 }}</td>
          <td *ngIf="!class.value[0]?.hsr_rating">{{card.ratings.length}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <ng-template #skeletonTableRow let-columns="columns">
    <tr style="height: 54px">
      <td *ngFor="let _ of [].constructor(columns)">
        <p-skeleton width="100px"></p-skeleton>
      </td>
    </tr>
  </ng-template>
</div>
