.searchInput {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  font-size: 1rem;
  color: #495057;
  background: var(--secondary-color);
  padding: 0.75rem 0.75rem;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  appearance: none;
  border-radius: 6px;
}

.allCardsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listItem {
  border: solid #dee2e6;
  border-width: 0 0 1px 0;
  color: inherit;
  text-decoration: inherit;

  &:hover {
    background: var(--secondary-color);
    cursor: pointer;
  }
}

.banner {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

tr {
  td {
    color: var(--secondary-color);
  }

  &.Death {
    background-color: #42606d71;
  }

  &.Druid {
    background-color: #7036067a;
  }

  &.Hunter {
    background-color: #016e0179;
  }

  &.Mage {
    background-color: #006fde6b;
  }

  &.Paladin {
    background-color: #aa8e0079;
  }

  &.Priest {
    background-color: #ffffff75;
  }

  &.Rogue {
    background-color: #4c4d48b0;
  }

  &.Shaman {
    background-color: #00008071;
  }

  &.Warlock {
    background-color: #7624ad6e;
  }

  &.Warrior {
    background-color: #8e10025b;
  }

  &.Neutral {
    background-color: #80808063;
  }

  &.Demon {
    background-color: #105e26b9;
  }

  &.Knight\/Demon {
    &.Hunter {
      background: linear-gradient(to right, #42606d71 50%, #105e26b9 50%);
    }
  }

  &.Druid\/Demon {
    &.Hunter {
      background: linear-gradient(to right, #7036067a 50%, #105e26b9 50%);
    }
  }

  &.Knight\/Rogue {
    background: linear-gradient(to right, #42606d71 50%, #4c4d48b0 50%);
  }

  &.Druid\/Paladin {
    background: linear-gradient(to right, #7036067a 50%, #aa8e0079 50%);
  }

  &.Hunter\/Warlock {
    background: linear-gradient(to right, #016e0179 50%, #7624ad6e 50%);
  }

  &.Hunter\/Paladin {
    background: linear-gradient(to right, #016e0179 50%, #aa8e0079 50%);
  }

  &.Mage\/Warrior {
    background: linear-gradient(to right, #006fde6b 50%, #8e10025b 50%);
  }

  &.Mage\/Priest {
    background: linear-gradient(to right, #006fde6b 50%, #ffffff75 50%);
  }

  &.Priest\/Shaman {
    background: linear-gradient(to right, #ffffff75 50%, #00008071 50%);
  }

  &.Rogue\/Shaman {
    background: linear-gradient(to right, #4c4d48b0 50%, #00008071 50%);
  }

  &.Warlock\/Warrior {
    background: linear-gradient(to right, #7624ad6e 50%, #8e10025b 50%);
  }
}

// DEMON_HUNTER = '#105E26',
// DRUID = '#703606',
// HUNTER = '#016E01',
// MAGE = '#0070DE',
// PALADIN = '#AA8F00',
// PRIEST = '#FFFFFF',
// ROGUE = '#4C4D48',
// SHAMAN = '#000080',
// WARLOCK = '	#7624AD',
// WARRIOR = '#8E1002',
// NEUTRAL = '#808080'
