<p-table [value]="ratingsByClass">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="hsClass">
        Class <p-sortIcon field="hsClass"></p-sortIcon>
      </th>
      <th
        pSortableColumn="avgRating"
        tooltipPosition="top"
      >
        Avg. <p-sortIcon field="avgRating"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-class>
    <tr [ngClass]="class.hsClass">
      <td>{{ class.hsClass }}</td>
      <td>{{ class.avgRating | number : "1.0-2" }}</td>
    </tr>
  </ng-template>
</p-table>
