tr {
  td {
    color: var(--secondary-color);
  }

  &.Death {
    background-color: #42606d71;
  }

  &.Druid {
    background-color: #7036067a;
  }

  &.Hunter {
    background-color: #016e0179;
  }

  &.Mage {
    background-color: #006fde6b;
  }

  &.Paladin {
    background-color: #aa8e0079;
  }

  &.Priest {
    background-color: #ffffff75;
  }

  &.Rogue {
    background-color: #4c4d48b0;
  }

  &.Shaman {
    background-color: #00008071;
  }

  &.Warlock {
    background-color: #7624ad6e;
  }

  &.Warrior {
    background-color: #8e10025b;
  }

  &.Neutral {
    background-color: #80808063;
  }

  &.Demon {
    background-color: #105e26b9;
  }

  &.Knight\/Demon {
    &.Hunter {
      background: linear-gradient(to right, #42606d71 50%, #105e26b9 50%);
    }
  }

  &.Druid\/Demon {
    &.Hunter {
      background: linear-gradient(to right, #7036067a 50%, #105e26b9 50%);
    }
  }

  &.Knight\/Rogue {
    background: linear-gradient(to right, #42606d71 50%, #4c4d48b0 50%);
  }

  &.Druid\/Paladin {
    background: linear-gradient(to right, #7036067a 50%, #aa8e0079 50%);
  }

  &.Hunter\/Warlock {
    background: linear-gradient(to right, #016e0179 50%, #7624ad6e 50%);
  }

  &.Hunter\/Paladin {
    background: linear-gradient(to right, #016e0179 50%, #aa8e0079 50%);
  }

  &.Mage\/Warrior {
    background: linear-gradient(to right, #006fde6b 50%, #8e10025b 50%);
  }

  &.Mage\/Priest {
    background: linear-gradient(to right, #006fde6b 50%, #ffffff75 50%);
  }

  &.Priest\/Shaman {
    background: linear-gradient(to right, #ffffff75 50%, #00008071 50%);
  }

  &.Rogue\/Shaman {
    background: linear-gradient(to right, #4c4d48b0 50%, #00008071 50%);
  }

  &.Warlock\/Warrior {
    background: linear-gradient(to right, #7624ad6e 50%, #8e10025b 50%);
  }
}
