<div class="grid">
  <h1 class="col-12 flex-order-1 md:flex-order-0 md:col-6 md:col-offset-3 text-center">{{ title }}</h1>
  <p-button class="col-3 col-offset-9 flex-order-0 md:flex-order-1 md:col-1 md:col-offset-2"
    *ngIf="loggedUser; else loginButton" label="Logout" (onClick)="logout()"></p-button>
  <ng-template #loginButton>
    <p-button class="col-3 col-offset-9 flex-order-0 md:flex-order-1 md:col-1 md:col-offset-2" label="Login"
      (onClick)="login()"></p-button>
  </ng-template>
</div>
<div class="grid md:ml-1">
  <div class="col-12 flex-order-2  lg:flex-order-0 grid">
    <div class="col-12 flex justify-content-end">
      <a [routerLink]="['/stats']" style="color: inherit;">
      See full stats
    </a>
    </div>
    <div class="col-12 mb-4 lg:col-4">
      <p-table [value]="bestCards">
        <ng-template pTemplate="caption"> Best Cards </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Class</th>
            <th>Name</th>
            <th>Avg.</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-card>
          <tr [ngClass]="card.hsClass" pTooltip="<img src='{{card.imageURL}}' style='width: 180px'/>" [escape]="false" tooltipPosition="right">
            <td>{{card.hsClass}}</td>
            <td>{{card.name}}</td>
            <td>{{card.avgRating | number: '1.0-2' }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="col-12 mb-4 lg:col-4">
      <p-table [value]="standardDeviationCards" class="mb-1">
        <ng-template pTemplate="caption">Most Controversial Cards </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Class</th>
            <th>Name</th>
            <th>Avg.</th>
            <th>SD</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-card>
          <tr [ngClass]="card.hsClass" pTooltip="<img src='{{card.imageURL}}' style='width: 180px'/>" [escape]="false" tooltipPosition="right">
            <td>{{card.hsClass}}</td>
            <td>{{card.name}}</td>
            <td>{{card.avgRating | number: '1.0-2' }}</td>
            <td>±{{card.standardDeviation | number: '1.0-2' }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="col-12 lg:col-4">
    <p-table [value]="worstCards">
      <ng-template pTemplate="caption"> Worst Cards </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Class</th>
          <th>Name</th>
          <th>Avg.</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-card>
        <tr [ngClass]="card.hsClass" pTooltip="<img src='{{card.imageURL}}' style='width: 180px'/>" [escape]="false" tooltipPosition="right">
          <td>{{card.hsClass}}</td>
          <td>{{card.name}}</td>
          <td>{{card.avgRating | number: '1.0-2' }}</td>
        </tr>
      </ng-template>
    </p-table>
    </div>
  </div>
  <div class="col-12 hidden flex-order-0  lg:flex-order-1 lg:flex banner">
      <h2> See who reviewed the cards</h2>
  </div>
  <div class="col-12 flex-order-1  lg:flex-order-2">
    <p-dataView [value]="usersWithRating" [layout]="'list'" [sortField]="'view_count'" [sortOrder]="-1" [rows]="12" [paginator]="true">
      <ng-template pTemplate="header">
        <div class="flex flex-column md:flex-row md:justify-content-between">
          Reviews
        </div>
      </ng-template>
      <ng-template let-user pTemplate="listItem">
        <a [routerLink]="'/review/' + user.name" class="col-12 flex h-3rem align-items-center listItem">
          <p-avatar [image]="user.image" styleClass="ml-1 mr-4" shape="circle"></p-avatar>
          {{user.name}}
        </a>
      </ng-template>
    </p-dataView>
  </div>
</div>