<div class="grid">
  <h1 class="col-12 flex-order-1 md:flex-order-0 md:col-6 md:col-offset-3 text-center">{{ title }}</h1>
  <p-button class="col-3 col-offset-9 flex-order-0 md:flex-order-1 md:col-1 md:col-offset-2"
    *ngIf="loggedUser; else loginButton" label="Logout" (onClick)="logout()"></p-button>
  <ng-template #loginButton>
    <p-button class="col-3 col-offset-9 flex-order-0 md:flex-order-1 md:col-1 md:col-offset-2" label="Login"
      (onClick)="login()"></p-button>
  </ng-template>
</div>
<div class="grid md:ml-1">
  <div class="col-12 flex-order-1  md:flex-order-0 md:col-5 md:col-offset-0">
    <p-table [value]="hotCards" [rows]="10" [paginator]="true">
      <ng-template pTemplate="caption"> Cards </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="hsClass" style="width:16.6%">Class <p-sortIcon field="hsClass"></p-sortIcon></th>
          <th pSortableColumn="name" style="width:50%">Name <p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="avgRating" style="width:16.6%">Avg. <p-sortIcon field="avgRating"></p-sortIcon></th>
          <th pSortableColumn="standardDeviation" style="width:16.6%">SD <p-sortIcon
              field="standardDeviation"></p-sortIcon></th>
            <th pSortableColumn="ratings.length" style="width:10%">Ratings <p-sortIcon
                field="ratings.length"></p-sortIcon></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-card>
        <tr [ngClass]="card.hsClass" pTooltip="<img src='{{card.imageURL}}' style='width: 180px'/>" [escape]="false" tooltipPosition="right">
          <td>{{card.hsClass}}</td>
          <td>{{card.name}}</td>
          <td>{{card.avgRating | number: '1.0-2' }}</td>
          <td>±{{card.standardDeviation | number: '1.0-2' }}</td>
          <td>{{card.ratings.length}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="col-12 flex-order-0  md:flex-order-1 md:col-4 md:col-offset-1">
    <p-dataView [value]="usersWithRating" [layout]="'list'" [sortField]="'view_count'" [sortOrder]="-1" [rows]="12" [paginator]="true">
      <ng-template pTemplate="header">
        <div class="flex flex-column md:flex-row md:justify-content-between">
          Reviews
        </div>
      </ng-template>
      <ng-template let-user pTemplate="listItem">
        <a [routerLink]="'/review/' + user.name" class="col-12 flex h-3rem align-items-center listItem">
          <p-avatar [image]="user.image" styleClass="ml-1 mr-4" shape="circle"></p-avatar>
          {{user.name}}
        </a>
      </ng-template>
    </p-dataView>
  </div>
</div>